<div>You're in a Room (<b>{{ model.id }}</b>); you are (<b>{{ application.model.id }}</b>)</div>
<div>
  <b>users:</b>
  <ul>
    {{#each key in connected}}
      <li>{{ key }}</li>
    {{ else }}
      <b>no one connected</b>
    {{/each}}
  </ul>
  <form {{action "submit" on="submit"}}>
    {{input type="text" value=message}}
    <button type="submit">send</button>
  </form>
  <ul>
    {{#each message in chat}}
      <li><b>{{ message.user }} </b><i>said:</i> {{ message.data }}</li>
    {{/each}}
  </ul>
</div>
